<!DOCTYPE html>
<html>
<head>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-ZY7G0VMHRY"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-ZY7G0VMHRY');
</script>
    <title>TJ Computing notes PDF Hosting Website</title>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
    </nav>
    <div>
        <h1>About Us</h1>
        <p>Built using flask, sqlite and chatgpt and deployed using render</p>
        <h2>Todo:</h2>
        <p>-Make it look nicer</p>
        <p>-Add pdf preview</p>
        <p>-Add pdf uploading capablity</p>
        <p>-Sort it better than just manipulating the filename</p>
    </div>
</body>
</html>
