<!DOCTYPE html>
<html>
<head>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-ZY7G0VMHRY"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-ZY7G0VMHRY');
</script>
    <title>TJ Computing notes PDF Hosting Website</title>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
    </nav>
    <div>
        <h1>Contact Us</h1>
        <p>You can find the link to the github repo at <a href=https://github.com/Serial-Comma/computing-notes>https://github.com/Serial-Comma/computing-notes</a></p>
    </div>
</body>
</html>
