<!DOCTYPE html>
<html>
<head>
	<title>TJ Computing notes PDF Hosting Website</title>
	<link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
	<div>
	<nav>
		<a href="/">Home</a>
		<a href="/about">About</a>
		<a href="/contact">Contact</a>
	</nav>
	</div>
	<div>
		<h1>Welcome to a TJ Computing Notes PDF hosting website</h1>
		<p>Here you can find and read various PDF files related to computing and programming.</p>
		<a href="/pdfs">View PDFs</a>
	</div>
	<div id="counter">
		<hr>
		You are the {{count}} visitor to this site this month!
	</div>

</body>
</html>
