
<!DOCTYPE html>
<html>
<head>
    <title>PDF Viewer</title>
    <link rel="stylesheet" type="text/css" href="../static/css/pdfs.css">
</head>
<body>
    <div class="container">
        <h1>PDF Viewer</h1>
        <h3>Search</h3>
        <form action="{{ url_for('pdfs')}}" method="GET">
            <input type="text" name="query" placeholder="Enter your search query...">
            <input type="submit" value="Search">
        </form>
        <div class="no-results">
            {% if no_results %}
            <p class="no-result">Nothing found :(</p>
            {% else %}
        </div>
        <div class="pdf-links">
            {% for pdf in pdf_files %}
            <a class="pdf-link" href="{{ url_for('serve_pdf', filename=pdf[1]) }}">{{ pdf[0] }}</a>
            {% endfor %}
        </div>
            {% endif %}
    </div>
</body>
</html>
